name: Publish to Test PyPI
on:
  push:
    tags:
      - '*.*.*'
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - name: Install Poetry
        run: curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python
      - name: Add Poetry to path
        run: echo "${HOME}/.poetry/bin" >> $GITHUB_PATH
      - name: Install venv
        run: poetry install
      - name: Setup TestPyPI repository
        run: |
             poetry config repositories.testpypi https://test.pypi.org/legacy/
             poetry config pypi-token.testpypi ${{ secrets.TEST_PYPI_TOKEN }}
      - name: Publish package
        run: poetry publish --build -r testpypi